<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="Description"
      content="Page de ventes de Hackers Poulette, Site qui vend des kits et accessoires pour Raspberry Pi à monter sois-même"
    />
    <link rel="stylesheet" href="../Assets/css/style.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="icon" href="../Assets/images/hackers-poulette-logo.png" />
    <link
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      rel="stylesheet"
    />
    <title>Hackers Poulette</title>
  </head>
  <body>
    <header>
      <div id="navbar">
        <nav>
          <div class="nav-wrapper">
            <a href="../index.html" class="brand-logo center logos">
              Hackers Poulette
            </a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger">
              <i class="material-icons">menu</i>
            </a>
            <ul id="dropdown1" class="dropdown-content dropMargin">
              <li>
                <a href="sell.html#kits" class="text-secondary">
                  Kits
                </a>
              </li>
              <li>
                <a href="sell.html#accessories">Accessoires</a>
              </li>
            </ul>
            <div class=" left tabBar">
              <ul class="nav-mobile">
                <li class="listTop"><a href="../index.html">Accueil</a></li>
                <li class="listTop">
                  <a href="about.html">Qui sommes-nous ?</a>
                </li>
                <li class="listTop">
                  <a class="dropdown-trigger" href="#!" data-target="dropdown1">
                    Que faisons-nous ?
                    <i class="material-icons right marginZ">
                      arrow_drop_down
                    </i>
                  </a>
                </li>
              </ul>
            </div>
            <ul class="sidenav hamNav" id="mobile-demo">
              <li><a href="../index.html">Accueil</a></li>
              <li><a href="about.html">Qui sommes-nous ?</a></li>
              <li><a href="sell.html">Que faisons-nous ?</a></li>
              <li>
                <a href="../Assets/php/contact.php">Contact</a>
              </li>
            </ul>
            <ul class="right hide-on-med-and-down">
              <!-- Dropdown Trigger -->
              <li></li>
              <li><a href="../Assets/php/contact.php"> Contact </a></li>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <main class="white">
      <div class="container">
        <h1>Que faisons-nous?</h1>
        <p>
          Hackers Poulette vous propose des kits et accessoires pour construire
          votre propre Raspberry Pi. Les kits et accessoires sont à monter
          soi-même.
        </p>
        <p>
          Du simple kit au kit plus poussé en passant par des dizaines
          d'accessoires, Hackers Poulette fait en sorte que vous puissiez
          trouver votre bonheur. Si vous avez l'une ou l'autre question,
          n'hésitez pas à nous contacter; nous serons ravis de vous aider.
        </p>
        <p>
          Les produits sont livrés avec soin partout en Belgique, en France et
          en Suisse.
        </p>
        <h2 class="center-align">Les produits</h2>
        <div class="card">
          <div class="card-content">
            <p>
              Retrouvez tous nos kits et accessoires en vente sur notre site.
            </p>
          </div>
          <div class="card-tabs">
            <ul class="tabs tabs-fixed-width">
              <li class="tab"><a class="active" href="#kits">Kits</a></li>
              <li class="tab">
                <a href="#accessories">Accessoires</a>
              </li>
            </ul>
          </div>
          <div class="contour card-content grey lighten-4 ">
            <div id="kits" class="kits row">
              <div class="card col s12 m6 l3">
                <div class="card-image waves-effect waves-block waves-light">
                  <img
                    class="activator"
                    src="../Assets/images/raspberry.png"
                    alt="kits raspberry"
                  />
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"
                    >Modèle 1<i class="material-icons right">more_vert</i></span
                  >
                  <p><a href="#">Acheter</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"
                    >Card Title<i class="material-icons right">close</i></span
                  >
                  <p>
                    Here is some more information about this product that is
                    only revealed once clicked on.
                  </p>
                </div>
              </div>
              <div class="card col s12 m6 l3">
                <div class="card-image waves-effect waves-block waves-light">
                  <img
                    class="activator"
                    src="../Assets/images/raspberry.png"
                    alt="kits raspberry"
                  />
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"
                    >Modèle 2<i class="material-icons right">more_vert</i></span
                  >
                  <p><a href="#">Acheter</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"
                    >Card Title<i class="material-icons right">close</i></span
                  >
                  <p>
                    Here is some more information about this product that is
                    only revealed once clicked on.
                  </p>
                </div>
              </div>
              <div class="card col s12 m6 l3">
                <div class="card-image waves-effect waves-block waves-light">
                  <img
                    class="activator"
                    src="../Assets/images/raspberry.png"
                    alt="kits raspberry"
                  />
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"
                    >Modèle 3<i class="material-icons right">more_vert</i></span
                  >
                  <p><a href="#">Acheter</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"
                    >Card Title<i class="material-icons right">close</i></span
                  >
                  <p>
                    Here is some more information about this product that is
                    only revealed once clicked on.
                  </p>
                </div>
              </div>
              <div class="card col s12 m6 l3">
                <div class="card-image waves-effect waves-block waves-light">
                  <img
                    class="activator"
                    src="../Assets/images/raspberry.png"
                    alt="kits raspberry"
                  />
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"
                    >Modèle 4<i class="material-icons right">more_vert</i></span
                  >
                  <p><a href="#">Acheter</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"
                    >Card Title<i class="material-icons right">close</i></span
                  >
                  <p>
                    Here is some more information about this product that is
                    only revealed once clicked on.
                  </p>
                </div>
              </div>
            </div>
            <div id="accessories" class="kits row">
              <div class="card col s12 m6 l3">
                <div class="card-image waves-effect waves-block waves-light">
                  <img
                    class="activator"
                    src="../Assets/images/raspberry-pi-3-model-b.jpg"
                    alt="kits raspberry"
                  />
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"
                    >Modèle 1<i class="material-icons right">more_vert</i></span
                  >
                  <p><a href="#">Acheter</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"
                    >Card Title<i class="material-icons right">close</i></span
                  >
                  <p>
                    Here is some more information about this product that is
                    only revealed once clicked on.
                  </p>
                </div>
              </div>
              <div class="card col s12 m6 l3">
                <div class="card-image waves-effect waves-block waves-light">
                  <img
                    class="activator"
                    src="../Assets/images/raspberry-pi-3-model-b.jpg"
                    alt="kits raspberry"
                  />
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"
                    >Modèle 2<i class="material-icons right">more_vert</i></span
                  >
                  <p><a href="#">Acheter</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"
                    >Card Title<i class="material-icons right">close</i></span
                  >
                  <p>
                    Here is some more information about this product that is
                    only revealed once clicked on.
                  </p>
                </div>
              </div>
              <div class="card col s12 m6 l3">
                <div class="card-image waves-effect waves-block waves-light">
                  <img
                    class="activator"
                    src="../Assets/images/raspberry-pi-3-model-b.jpg"
                    alt="kits raspberry"
                  />
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"
                    >Modèle 3<i class="material-icons right">more_vert</i></span
                  >
                  <p><a href="#">Acheter</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"
                    >Card Title<i class="material-icons right">close</i></span
                  >
                  <p>
                    Here is some more information about this product that is
                    only revealed once clicked on.
                  </p>
                </div>
              </div>
              <div class="card col s12 m6 l3">
                <div class="card-image waves-effect waves-block waves-light">
                  <img
                    class="activator"
                    src="../Assets/images/raspberry-pi-3-model-b.jpg"
                    alt="kits raspberry"
                  />
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4"
                    >Modèle 4<i class="material-icons right">more_vert</i></span
                  >
                  <p><a href="#">Acheter</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"
                    >Card Title<i class="material-icons right">close</i></span
                  >
                  <p>
                    Here is some more information about this product that is
                    only revealed once clicked on.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l3 m6 s3">
            <h5 class="white-text">Hackers Poulette</h5>
            <p>
              Nous vendons des kits et des accessoires pour Raspberry Pi à
              assembler vous-mêmes.
            </p>
          </div>
          <div class="col l3 offset-l1 m4 s4">
            <h5 class="white-text">Produits</h5>
            <ul>
              <li class="icons">
                <a class="grey-text text-lighten-4" href="sell.html#kits">
                  <i class="tiny material-icons">chevron_right</i>
                  Kits
                </a>
              </li>
              <li class="icons">
                <a
                  class="grey-text text-lighten-4"
                  href="sell.html#accessories"
                >
                  <i class="tiny material-icons">chevron_right</i>
                  Accessoires
                </a>
              </li>
            </ul>
          </div>

          <div class="col l3 m7 s5">
            <h5 class="white-text">Société</h5>
            <ul>
              <li class="icons">
                <a class="grey-text text-lighten-4" href="about.html">
                  <i class="tiny material-icons">chevron_right</i>
                  Qui sommes-nous?
                </a>
              </li>
              <li class="icons">
                <a class="grey-text text-lighten-4" href="sell.html">
                  <i class="tiny material-icons">chevron_right</i>
                  Que faisons-nous?
                </a>
              </li>
              <li class="icons">
                <a
                  class="grey-text text-lighten-4"
                  href="../Assets/php/contact.php"
                >
                  <i class="tiny material-icons">chevron_right</i>
                  Contact
                </a>
              </li>
            </ul>
          </div>
          <div class="col l2 m5 s6">
            <h5 class="white-text">Suivez-Nous</h5>
            <ul class="listSocial">
              <li>
                <a href="http://www.facebook.com">
                  <img
                    src="https://img.icons8.com/ios/26/000000/facebook.png"
                    alt="facebook"
                    class="social"
                  />
                </a>
              </li>
              <li>
                <a href="http://www.instagram.com">
                  <img
                    src="https://img.icons8.com/ios/26/000000/instagram-new.png"
                    alt="instagram"
                    class="social"
                  />
                </a>
              </li>
              <li>
                <a href="http://www.twitter.com">
                  <img
                    src="https://img.icons8.com/ios/26/000000/twitter.png"
                    alt="Twitter"
                    class="social"
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <script src="../Assets/materialize-src/js/bin/materialize.min.js"></script>
    <script src="../Assets/js/script.js"></script>
  </body>
</html>
