@import "libs/reset/reset.scss";
@import "libs/shortcut/libs.scss";
$primary:#2B2B2B;
$greycolor:#909090;
body{
    background: #0080ff;
    color:white;
    font-family: "Montserrat", sans-serif;
}
.main{
    width: 1425px;
    margin: auto;
}
section{
    background-image:url(/images/background1.jpg);
    background-size: 100% auto;
    background-color: #1D1D1D;
    background-position: top,top;
    background-repeat: no-repeat;
    width: 99%;
    height: 99%;
    margin:auto;
    @extend %shadow-radius;
    padding:100px;
    header{
        background:$primary;
        width: 100%;
        margin:auto;
        display: flex;  
        @extend %shadow-radius;
        padding:50px; 
        .left-part{
            padding:0 20px;
            flex:1;
            .gprofil{
                height: 250px;
                width: 250px;
                border-radius: 50%;
                margin:auto;
            }
            .profil{
                height:98%;
                width:98%;
                border-radius: 50%;
                border: solid 3px #0080ff;
            }
            figure{
                margin:40px 0 0 0;
                display: flex;
                justify-content: center;
            }
            a{
                filter: invert(50%);
                padding:10px;
                transition: filter .3s;
                &:hover{
                    filter: invert(0);
                    transition: all 0.3s;
                    
                }
            }
        }
        .right-part{
            flex:3;
            padding-left:150px;
            h1{
                font-size:64px;
                font-weight: 500;
                span{
                    border-bottom: #1D1D1D solid 2px;
                    box-shadow: 0 4px 2px -2px #1D1D1D; 
                }
            }
            h2{
                font-size: 32px;
                color:$greycolor;
                font-weight: 500;
                margin-top:10px;
            }
            .button{
                display: flex;
                margin: 20px auto;
                .btn-blue{
                    @extend %button;
                    border-radius: 5px;
                    background: $color-blue;
                    margin:auto 20px 0 0;
                    filter: brightness(1);
                    transition: filter .3s;
                    font-weight: 500;
                    &:hover{
                        transition: filter .3s;
                        filter: brightness(.8)
                    }
                }
                .btn-green{
                    @extend %button;
                    border-radius: 5px;
                    background: $color-green;
                    margin:auto 20px;
                    filter: brightness(1);
                    transition: filter 0.3s;
                    font-weight: 500;
                    &:hover{
                        transition: filter .3s;
                        filter: brightness(.8)
                    }
                }
            }
            .coord{
                margin-top:50px;
                .coo {
                    display: flex;
                    margin: 20px 0px;
                    text-align: justify;
                    .first{
                        width: 54px;
                        margin-right: 175px;
                    }
                    .second{
                        color:$greycolor;
                    }
                
                }
            }
            
        }
        
    }
    .dev{
        display: flex;
        justify-content: center;
        margin-top:60px;
        .box{
            background: $primary;
            width: 690px;
            @extend %shadow-radius;
        }
        h2{
            font-size: 32px;
            margin-bottom:20px; 
        }
        .front{
            margin-right:45px;
        }
        .back{

        }
    }
}