body{
    width: 1425px;
    height: auto;
    margin:0 auto;
    box-shadow: 0 0 25px 1px #333333;
}
section{
    display: grid;
    grid-template-columns: 25% 75% ;
    grid-template-rows: 2fr 2fr 2fr 2fr;
}

.header{
    grid-area: 2/1/5/1;
    text-align: center;
}
.background {
    grid-area:1/1/2/2; 
    background: rgba(63, 75, 248, 0.8)
}
.formation{
    grid-area: 2/2/2/2;
}
.experience{
    grid-area: 3/2/3/2;
}
.language{
    grid-area: 4/2/4/2;
}
.interet{
    grid-area:5/2/5/2;
}